body {
  background-color: #fff8e1;
  font-family: "Arial", sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  height: 100vh;
}

.rounded-rect {
  border-radius: 7px;
}

main {
  padding: 10px;
  background-color: #fff3e0;
  height: 90%;
}

#textInput {
  background-color: #fff3e0;
  resize: none;
  border: none;
  font-size: 30px;
  height: 97%;
}

article {
  color: #333333;
  font-size: 30px;
  overflow: scroll;
  height: 100%;
}

.focused-text {
  color: #ff8a65;
}

button.btn {
  touch-action: manipulation;
  background-color: #ff8a65;
  color: white;
  border: none;
}

button.btn.mute{
  background-color: gray;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.paragraph {
  margin-bottom: 20px;
}
.line {
  margin: 0;
}

.word {
  display: inline-block;
  margin-right: 5px;
}

#imageInput {
  display: none;
}

.spinner {
  display: none;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner.show {
  display: inline-block;
}

.dimmed-text {
  color: #f0f0f0;
}

.unresponsive {
  pointer-events: none;
}

.no-select {
  user-select: none;
  cursor: default;
}

