body {
    background-color: #FFF8E1;
    font-family: 'Arial', sans-serif;
    padding: 20px;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #FFF3E0;
    border-radius: 15px;
}

#inputText {
    background-color: #FFF3E0;
    border-radius: 15px;
    resize: none;
    border: none;
    font-size: 30px;
    height: 80vh;
}

article {
    font-size: 30px
}

.focused-text {
    color: green;
}

button.btn {
    background-color: #FF8A65;
    color: white;
    border: none;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.paragraph {
    margin-bottom: 20px;
}
.line {
    margin: 0;
}

.word {
    display: inline-block;
    margin-right: 5px;
}